<section id="about" class="about" style="padding: 20px; margin: 0 0 0 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-3 col-md-6 col-sm-12 text-left">
        <h2 style="padding-bottom: 10px;">Commodités</h2>
        <ul class="custom-list">
          <li>Côté Hollandais</li>
          <li>15 minutes de l’aéroport</li>
          <li>2 piscines sur le site</li>
          <li>5 minutes de l’épicerie Carrefour Market</li>
          <li>Plage Indigo Bay à une distance de marche</li>
          <li>Gym intérieur</li>
          <li>10 minutes de Philipsburg</li>
        </ul>
        <ul class="custom-list">
          <li>machine Nespresso</li>
          <li>2 chambres avec 2 salles de bain privées</li>
        </ul>
        <ul class="custom-list">
          <li>2 espaces de stationnement</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 text-left">
        <h2 style="padding-bottom: 10px;">Commodities</h2>
        <ul class="custom-list">
          <li>Dutch Side</li>
          <li>15 minutes from the airport</li>
          <li>2 pools on site</li>
          <li>5 minutes from Carrefour Market grocery store</li>
          <li>Indigo Bay Beach within walking distance</li>
          <li>Indoor gym</li>
          <li>10 minutes from Philipsburg</li>
        </ul>
        <ul class="custom-list">
          <li>Nespresso machine</li>
          <li>2 bedrooms with 2 private bathrooms</li>
        </ul>
        <ul class="custom-list">
          <li>2 parking spaces</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        <img src="img/callout.JPEG" class="responsive-img" alt="Background Image">
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<style>
  .responsive-img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .responsive-img {
    max-height: 300px; /* Adjust height for smaller screens */
  }
}
.custom-list {
  list-style: none;
  padding-left: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  line-height: 1.8;
}

.custom-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.custom-list li::before {
  content: '→'; /* Arrow pointing right */
  position: absolute;
  left: 0;
  color: #000; /* Change arrow color if needed */
  font-size: 2rem; /* Adjust arrow size if needed */
}
</style>