<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li style="text-align: center;font-size: 2rem;"> Contact: </li>
          <li><i class="fa fa-envelope-o fa-fw fa-2x"></i>  <a href="mailto:{{ site.email }}" style="font-size: 2rem;">{{ site.email }}</a>
          </li>
        </ul>
        <br>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
