<section id="map" class="map">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0" style="text-align: center;">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1505.6762160211365!2d-63.07558939542635!3d18.022138987050216!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1738942298423!5m2!1sen!2sca"
          style="border:0; width: 98%; margin:auto; height: 600px;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>